@import url(https://db.onlinewebfonts.com/c/226f58ab113a6d821def90a7d6dc2427?family=GT+Pressura+Mono+Regular+Regular);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "GT Pressura Mono Regular Regular";
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  letter-spacing: 0.1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 40px;
  z-index: 99;
  background-color: white;
}

.navbar span:hover {
    cursor: pointer;
}

.right,
.left{
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.fixed-menu{
  height: 100vh;
  width: 100%;
  position: fixed;
  background: crimson;
  z-index: 10;
  top: -110%;
  transition: all ease 0.5s;
}

.hero{
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 180px;
  text-align: center;
}

.cursor-box{
  position: fixed;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
}

.pointer{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
  mix-blend-mode: difference;
}

.videoshell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.videoshell iframe{
  pointer-events: none;
}

.hover-trigger{
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

.hero-text{
  margin-top: 50px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
  font-size: 70px;
  display: flex;
  text-align: center;

}
.image-stack{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 350px;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 100;
}
.stack-card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s
}

.show{
opacity: 1;
}